# NOTE:
# Do not use quotes around values even if they contain spaces.

# create docker secrets:
# echo -ne 'super-secret-password' | docker secret create gitlab-root-password -

# GitLab and GitLab Docker Registry
GITLAB_USER=root
GITLAB_PASSWORD_FILE=/run/secrets/gitlab-root-password
GITLAB_JWT_URL=https://gitlab.example.net/jwt/auth
GITLAB_REGISTRY=https://gitlab.example.net:4567/

# Token that should be used when GitLab posts to this endpoint.
# Basic security, add this token to the project's webhook.
# cat /dev/urandom | tr -dc _A-Z-a-z-0-9 | head -c32 | docker secret create gitlab-hook-token
HOOK_TOKEN_FILE=/run/secrets/gitlab-hook-token

# vim:ft=conf
