# NOTE:
# Do not use quotes around values even if they contain spaces.

# Path to S3 storage containing "docker/registry/v2" subdir
REGISTRY_BUCKET_PATH=/srv/minio/data/gitlab-registry-bucket
#REGISTRY_BUCKET_PATH=/srv/gitlab-s3/data/gitlab-registry

# Token that should be used when GitLab posts to this endpoint.
# Basic security, add this token to the project's webhook.
# get one:
# < /dev/urandom tr -dc _A-Z-a-z-0-9 | head -c"${1:-32}";echo;
HOOK_TOKEN=

# vim:ft=conf
