# NOTE:
# Do not use quotes around values even if they contain spaces.

# GitLab and GitLab Docker Registry
GITLAB_USER=root
# Create token with API scope for root user
# https://gitlab.example.net/profile/personal_access_tokens
GITLAB_TOKEN=token
GITLAB_API_URL=https://gitlab.example.net
GITLAB_JWT_URL=https://gitlab.example.net/jwt/auth
GITLAB_REGISTRY=https://gitlab.example.net:4567/

# template to use to construct image to cleanup
IMAGE_NAME_TEMPLATE=%(project_name)s/builds:%(slug)s

# Project custom attribute name to set per project override for IMAGE_NAME_TEMPLATE
# https://docs.gitlab.com/ce/api/custom_attributes.html
IMAGE_NAME_PROJECT_ATTRIBUTE=gitlab_registry_image_template

# Token that should be used when GitLab posts to this endpoint.
# Basic security, add this token to the project's webhook.
# get one:
# echo "$(tr -dc _A-Z-a-z-0-9 < /dev/urandom | head -c32)"
HOOK_TOKEN=

# vim:ft=conf
